*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}
.container{
    max-width: 1000px;
    margin:auto;
}
header{
    background-color: rgb(0, 210, 255);
    text-align: center;
    padding: 12px;
    color:white;
}
.title{
    font-size: 26px;
    margin: auto;
}
main{
    background-image: url(../images/people.jpg);
    padding: 20px;
    background-size: cover;
    overflow: hidden;
    
}
.box{
    max-width: 230px;
    float: right;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.884);

}
h2{
    font-size: 16px;
}
.mb{
    margin-bottom: 15px;
}
input, select {
    border:none;
    width:max-content;
    margin-bottom:10px;
    width:100%;
    box-sizing:border-box;
    padding:10px;
}
input[type="submit"]{
    background-color:rgb(0, 210, 255) ;
    color: white;
    height: 40px;
    font-weight: bold;
}
select{
    -webkit-appearance: none;
    -moz-appearance:none; 
    appearance:none ;
    
    background-image: url(../images/arrow.jpg);
    background-repeat: no-repeat;
    background-position-x: calc(100% - 10px);
    background-position-y: center;
}
footer{
    background-color: rgb(46, 46, 46);
    max-width: 1000px;
    text-align: center;
    padding: 40px;
    
}
img{
    width: 160px;
}
.description{
    display: inline-block;
    color:white;
    margin-left: 40px;
    max-width: 40%;
    text-align: left;
}
.description h1{
    margin-bottom: 20px;
}
@media screen and (max-width:420px){
    .box{
        float:none;
        margin: auto;
    }

    .description{
        max-width: 80%;
    }
    img{
        margin-bottom: 15px;
    }
}
